<div id="<%= dom_id invoice %>">
  <p>
    <strong>Invoice:</strong>
    <%= invoice.invoice_id %>
  </p>

  <p>
    <strong>Invoice number:</strong>
    <%= invoice.invoice_number %>
  </p>

  <p>
    <strong>Date created:</strong>
    <%= invoice.date_created %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= invoice.reference %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= invoice.total %>
  </p>

  <p>
    <strong>Currency code:</strong>
    <%= invoice.currency_code %>
  </p>

  <p>
    <strong>Sub total:</strong>
    <%= invoice.sub_total %>
  </p>

  <p>
    <strong>Total tax:</strong>
    <%= invoice.total_tax %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </p>

  <p>
    <strong>Amount due:</strong>
    <%= invoice.amount_due %>
  </p>

  <p>
    <strong>Amount paid:</strong>
    <%= invoice.amount_paid %>
  </p>

  <p>
    <strong>Fully paid on date:</strong>
    <%= invoice.fully_paid_on_date %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= invoice.contact %>
  </p>

</div>
